@model SGP.Models.Homologacion

@{
    ViewData["Title"] = "Homologar";
}

<h1 class="title">Homologar</h1>

<form method="post">
    <div>
        <table>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FechaHomologacion)</th>
                <th>@Html.DisplayNameFor(model => model.Universidad)</th>
                <th>@Html.DisplayNameFor(model => model.Nota)</th>
                <th>@Html.DisplayNameFor(model => model.IdPrograma)</th>
                <th>@Html.DisplayNameFor(model => model.IdModulo)</th>
                <th>@Html.DisplayNameFor(model => model.IdUsuario)</th>
            </tr>
            <tr>
                <td>
                    <input asp-for="FechaHomologacion" type="date">
                </td>
                <td>
                    <input asp-for="Universidad" type="text">
                </td>
                <td>
                    <input asp-for="Nota" type="number" step=".01">
                </td>
                <td>
                    <input asp-for="IdPrograma" type="number">
                </td>
                <td>
                    <input asp-for="IdModulo" type="number">
                </td>
                <td>
                    <input asp-for="IdUsuario" type="number">
                </td> 
            </tr>
        </table>

    <div class="buttons">
        <button class="btn btn-secondary">Volver</button>
        <div class="r-buttons">
            <button class="btn btn-secondary" type="submit">Guardar</button>
        </div>
    </div>
</form>